<html>
	<head>
		{{template "mdl"}}
	</head>
	<body>
		{{template "headerMenu"}}
		<form action="/activity/search" method="post">
			search an Activity....!!! <br>
			<input type="text" name="activity">
			<input type="submit" name="searchBtn" value="search">
		<!-- to show search icon instead of button, but work is not complete yet	<a href="/activity/search"  type="submit" id="search-activity" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
      			<i class="material-icons">search</i>
			</a>-->
		</form>

		below are some recommendations ({{.Cnt}})
		{{template "ActivityListSearchList" .Activity}}

		<form action="/activity/addbyform" method="post">
			add an new Activity<br>
			<input type="text" name="activity">
			<input type="submit" name="AddBtn" value="add">
		</form>

	</body>
</html>
